<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Small Business Managemet System</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Small Business Management System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i> Setup<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","ItemCategory")"> Categories</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("Index","Item")">Products</a></li>
                            <li role="separator" class="divider"></li>

                       <!--     <li><a href="@Url.Action("Index","ExpenseCategory")">Expense Categories</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("Index","ExpenseItem")">Expense Items</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("Index","Organization")">Organizations</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("Index","Branch")">Branches</a></li>
                            <li role="separator" class="divider"></li> -->

                            <li><a href="@Url.Action("Index","Party")">Parties</a></li>
                            <li role="separator" class="divider"></li>
                        <!--    <li><a href="@Url.Action("Index","Employee")">Employees</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bar-chart"></i> Operations <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","PurchaseOperation")">Purchase</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("Index","SalesOperation")">Sales</a></li>
                            <li role="separator" class="divider"></li>
                            
                        <!--    <li><a href="@Url.Action("Index","ExpenseOperation")">Expense</a></li> -->
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-text"></i> Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Report","PurchaseOperation")">Purchase</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="@Url.Action("Report","SalesOperation")">Sales</a></li>
                            <li role="separator" class="divider"></li>

                       <!--     <li><a href="@Url.Action("Report","ExpenseOperation")">Expense</a></li>
                            <li role="separator" class="divider"></li>-->
                            
                            <li><a href="@Url.Action("Index","IncomeReport")">Income</a></li>
                            <li role="separator" class="divider"></li>
                            
                            <li><a href="@Url.Action("Index","StockReport")">Stock</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<div class="container">

    @RenderBody()


</div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="text-center footer-text">Developed by <span class="team-name">Sazid <span>Hasan</span></span></div>
        </div><!-- /.container-fluid -->
    </nav>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/Project/notify.min.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>